td {
  height: 6em;
  width: 6em;
  border: solid black 1px;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #e3e8ef;
  background-image: url('plouf.png');
  background-image: none;

}

table {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.tableBattle {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
